html {
  height: 100%;
}
body {
  margin:15px 10px 0px 10px;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(to right,#c7a3a31f, #243b55)
}

.login-box {
  
 
  /* margin: 15px; */
  margin-top: 30%;
  margin: auto;
  width: 60%;
  

padding: 10px;
  left: 30%;
  right: 30%;
  width: 400px;
  padding: 40px;
  padding-bottom: 10px;
  /* transform: translate(-50%, -50%); */
  background: rgb(70 89 110);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.about{
  color: #fff;

}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(229, 180, 115);
  font-size: 12px;
}
.mail
{
  color: #ef8b18;
  text-decoration: none;
}
.login-box form a {
    
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ef8b18;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 4px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #deaf05;
  color: #fff;
  border-radius: 5px;
  
             
}

.login-box a span {
  position: absolute;
  display: block;
}





:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
  
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0rem 3vw;
  padding: 0;
  list-style-type: none;
  margin-left: 100px;
  margin-bottom: 100px;
}

.card {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 100px;
  position: relative;
  display: block;
  height: 350px; 
  width: 250px; 
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 250px;
  height: 250px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: ;
  margin-bottom: 80px;
}  
.card__descriptions {
  padding: 0 2em 0em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: ;
  text-align: center;
  margin-bottom: 10px;
}     
